*{
    padding: 0px;
    margin: 0px;
}
small{
    font-size: 13px ;
    display: block;
    color: #ccc;
    font-weight: 600;
    text-transform: capitalize;
}
.nav_text p{
    font-size: 15px;
    font-weight: 600;
}
.nav a{
    /* font-weight: 600; */
}
.header_box{
    background-color: black;
}
.dropdown button{
    border: none;
    background-color: transparent;
}
.wh{
    filter: invert(1);
}
.hover_nav li{
    border: 1px solid transparent;
}
.hover_nav li:hover{
    border: 1px solid white;
    transition: 0.4s;
}
.hover_nav a{
    font-size: 14px;
    padding: 10px 8px 0px 8px  ;
}